@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #421121;
    color: #ffffff;
    font-family: "Archivo Black", serif
}

#main {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;

}

#entry {
    font-size: 130%;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}

#submit {
    margin-top: 3vh;
    font-size: 130%;
    border-radius: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    background-color: #0c1c36;
    color: #ffffff;
    border-style: solid;
    font-weight: bold;
}